{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/academics.css' %}">
  <title>Academics</title>
</head>
<body>
  <div>
    <div class="navBar" id="navBar">
      <a href="{% url 'index' %}">
        <img src="{% static 'assets/logo.png' %}" alt="logo" id="logo">
      </a>
      <nav>
        <a href="{% url 'resources' %}">Opportunities</a>
        <a href="{% url 'academics' %}" id="navAc">Academics</a>
        <a href="{% url 'finance' %}">Financing</a>
      </nav>
    </div>

    <div class="container">

      <h1>Academic Preparation</h1>
      <div class="bg">

        <h2>Resources to learn about everything you need to know and more!</h2>
        

        <row class="main">
          <div class="side">
            <div class="section">
            <h3>School Before College</h3>
            <ul>
              {% for i in data %}
              {% if i.topic == "School_Before_College" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

            </ul>
            
          </div>

            <div class="section">
              <h3>Searching for Colleges</h3>
              <ul>
                {% for i in data %}
              {% if i.topic == "Searching_for_Colleges" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>

            <div class="section">
              <h3>Exam Prep</h3>
              <ul>
              {% for i in data %}
              {% if i.topic == "Exam_Prep" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}
              </ul>
            </div>

            <div class="section">
              <h3>College Applications</h3>
              <ul>
              {% for i in data %}
              {% if i.topic == "College_Application" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>
          </div>

          

          <div class="side">
            <div class="section">
              <h3>Research</h3>
              <ul>
               {% for i in data %}
              {% if i.topic == "Research" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>

            <div class="section">
              <h3>Mentors & Tutors</h3>
              <ul>
               {% for i in data %}
              {% if i.topic == "Mentors" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}
 
              </ul>
            </div>

            <div class="section">
              <h3>Extracurriculars</h3>
              <ul>
              {% for i in data %}
              {% if i.topic == "Extracurriculars" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}
 
              </ul>
            </div>

            <div class="section">
              <h3>Additional Resources</h3>
              <ul>
                {% for i in data %}
              {% if i.topic == "Additional_resources" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>
          </div>
        </row>
        

        


      </div>

    </div>
    

  </div>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>