{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/financing.css' %}">
  <title>Financing</title>
</head>
<body>
  <div>
    
  <div class="navBar" id="navBar">
  <a href="{% url 'index' %}">
        <img src="{% static '/assets/logo.png' %} " alt="logo" id="logo">
      </a>

    <nav>
      <a href="{% url 'resources' %}">Opportunities</a>
      <a href="{% url 'academics' %}">Academics</a>
      <a href="{% url 'finance' %}">Financing</a>
    </nav>
  </div>

    </div>

    
    <div class="container">

      <h1>Financing</h1>
      <div class="bg">

        <h2>
          You deserve an education free of financial strain.</br>
          Learn about affording college and navigating adult life finances.
        </h2>
        

        <row class="main">
          <div class="leftSide">
            <div class="section">
            <h3>Navigating Scholarships</h3>
            <ul>
              {% for i in data %}
              {% if i.topic == "Navigating_Scholarships" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

            </ul>
            
          </div>

            <div class="section">
              <h3>Financial Aid</h3>
              <ul>
                {% for i in data %}
              {% if i.topic == "Financial_Aid" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>

            <div class="section">
              <h3>Sponsors</h3>
              <ul>
                {% for i in data %}
              {% if i.topic == "Sponsors" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>
          </div>

          

          <div class="rightSide">
            <div class="section">
              <h3>Budgeting</h3>
              <ul>
                {% for i in data %}
              {% if i.topic == "Budgeting" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>

            <div class="section">
              <h3>Financial Literacy Courses</h3>
              <ul>
              {% for i in data %}
              {% if i.topic == "Financial_Literacy_Courses" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>

            <div class="section">
              <h3>Additional Resources</h3>
              <ul>
       {% for i in data %}
              {% if i.topic == "Additional_resources" %}
                <li><a href="{{ i.url }}">{{i.name}}</a></li>
              {%endif %}
              {% endfor %}

              </ul>
            </div>
          </div>
        </row>
        

        


      </div>

    </div>

  </div>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>