{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/index.css">
  <title>GrowFree</title>
</head>

<body>

  <div class="navBar" id="navBar">
      <a href="{% url 'index' %}">
        <img src="{% static '/assets/logo.png' %} " alt="logo" id="logo">
      </a>
    <nav>
      <a href="{% url 'resources' %}">Opportunities</a>
      <a href="{% url 'academics' %}">Academics</a>
      <a href="{% url 'finance' %}">Financing</a>
    </nav>
  </div>

  <div class="container">
    <p class="centerText">
      FIND OPPORTUNITIES TO <big>GROW</big> FOR <big>FREE</big><br/>
      DO NOT LET YOUR FINANCIAL SITUATION LIMIT <big>YOUR FUTURE</big><br/>
    </p>

    <div class="images">
      <img src="{% static '/assets/homePic1.jpg' %}" alt="First generation graduation cap thanking parents for sacrifices"/>
      <img src="{% static '/assets/homePic2.jpg' %} " alt="First generation graduation"/>
    </div>
    
    <h1>Who We Are & Why</h1>
    <p class="about">
      As a group of first-generation, low-income, and international students, we decided to work together to solve one of our biggest challenges: the struggle of finding financially accessible programs, internships, competitions, extracurriculars, scholarships, exam prep materials, and more. 
      </br>By utilizing our abilities in both front-end and back-end, we have developed a website that contain regularly updated resources and opportunities that range from free programs to educational articles to voluntary mentors.
      </br>
      </br>
      <strong>Opening Doors to Opportunities:</strong> We facilitate students' access to newly added high-quality free opportunities that have the potential to ignite growth in their educational years. These opportunities include summer programs, competitions, internships, fellwships, research, scholarships and many more.
      </br>
      <strong>Improving Students' Academic Abilities</strong> by providing various free resources for both international and USA students to help them in their exam prep, college search, finfinancial aid, research, and competitons prep materials.
      </br>
      <strong>Guiding Students Financially:</strong> GrowFree provides a reliable source for students to learn and find free courses about financial literacy, scholarship navigation, and more as it represents one of the biggest struggles that faces them in the college admissions process.
    </p>
    
    <div class="formbg">

      <div class="formbgLeft">
        <h1 class="connect">Connect With Others</h1>
        <p class="connectEx">Volunteer as a Mentor</p>
        <p class="connectEx">Research your Interests</p>
        <p class="connectEx">Join Study Groups</p>
      </div>


      <form method="post" action="research_help">
        {% csrf_token %}


        <label for="Email">email</label>
        <input type="email" name="Email" placeholder="Enter email" required=True>
        <label for="name">name</label>
        <input type="text" name="Name" placeholder="Enter name" required>
        <label>interests</label>
        <div onmouseenter="dropdown()" id="interestsBox"></div>
        <select name="interests" title="Interests" multiple id="dropdown" required>
          <option value="Science">Science</option>
          <option value="Engineering">Engineering</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Fine Arts">Fine Arts</option>
          <option value="Language">Language</option>
          <option value="History">History</option>
          <option value="Humanities">Humanities</option>
          <option value="Education">Education</option>
          <option value="BusinessFinance">Business/Finance</option>
          <option value="Other">Other</option>
        </select>
        <label>which connections are you interested in?</label>
        <select class="connections" required name="connections" title="connections">
          <option value="mentor" type="button" id="Mentor" onclick="highlight('Mentor')">Mentor</option>
          <option value="research" type="button" id="Research" onclick="highlight('Research')">Research</option>
          <option value="study-group" type="button" id="StudyGroup" onclick="highlight('StudyGroup')">Study Group</option>
          <option value="other" type="button" id="Other" onclick="highlight('Other')">Other</button>
        </select>

        <input type="submit" value="submit">
      </form>

    </div>
  </div>
    
  <script src="{% static '/js/index.js' %}"></script>
</body>
</html>