{% extends 'base.html' %}

{% block body %}


<h1> Opportunities </h1>

{% for tag_data in tags_with_opportunities %}
    <div>
        {% comment %} <strong>Tag:</strong> {{ tag_data.tag.name }} {% endcomment %}
        <ul>
            {% for opportunity in tag_data.opportunities %}
            <div> 
            <h3> {{ opportunity.name }} </h3> 
            {{ opportunity.description | truncatewords:50 }}
            <a> </a> 
            </div> 
            {% endfor %}
        </ul>
    </div>
{% endfor %}



{% endblock %}