{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/Opportunities.css' %}">
  <title>Opportunities</title>
</head>
<body>

    <div class="navBar" id="navBar">
      <a href="{% url 'index' %}">
        <img src="{% static '/assets/logo.png' %} " alt="logo" id="logo">
      </a>
      <nav>
        <a href="{% url 'resources' %}">Opportunities</a>
        <a href="../AcademicsScreen/Academics.html">Academics</a>
        <a href="../FinancingScreen/Financing.html">Financing</a>
      </nav>
    </div>

    <div class="container">

      <h1>Find Free Opportunities</h1>


 {% for opportunity in resources %}
      <div class="opportunity">
        <div class="opportunityLeft">
          <h2>{{ opportunity.name }}</h2>
          <row>
            {% for tag in opportunity.tags.all %}
            <tag><a href="{% url 'filtered_opportunities' tag.name %}">{{ tag.name }}</a></tag>
            {% endfor %}
            <strong>{{ opportunity.status }}</strong>
          </row>
          <row class="duedate">
            <img src="{% static '/assets/clock.png' %}" alt="clock icon" class="clock">
            <strong>{{ opportunity.deadline }}</strong>
          </row>
          <tag class="link"><a href="{{ opportunity.url }}" target="_blank">Learn More</a></tag>
        </div>
        <div class="description">
          <label>Description</label>
          <p>{{opportunity.description}}</p>
        </div> 
    </div> 
</div>

{% endfor %}  


  <script src="static/js/opportunities.js"></script>
</body>
</html>

