html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Arial Narrow';
  color: white;
}
.navBar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  transition: .2s;
}
nav {
  height: 15vh;
  width: 80vw;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.navBar a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
}
.navBar :hover {
  color: #f6dc1d;
}
#logo {
  color: white;
  margin: 15px;
  max-block-size: 10vw;
  transition: .2s;
}
.container {
  flex: 1;
  margin-top: 30dvh;
}
h1 {
  font-size: 5vw;
  font-family: 'Segoe UI';
  text-align: center;
  color: #f6dc1d;
  font-weight: 100;
}
.opportunity {
  background-color: #D5B07C;
  width: 90%;
  height: 40vh;
  display: flex;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 5vh;
}
h2 {
  color: black;
  font-size: 4vw;
  font-weight: 200;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.description {
  margin-right: 0;
  background-color: rgba(0,0,0,.25);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.opportunityLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}
tag {
  background-color: rgba(0,0,0,.25);
  border-radius: 20px;
  text-align: center;
  color: black;
  padding: 10px;
  font-weight: 100;
}
strong {
  color: black;
  align-self: center;
  font-weight: 600;
}
.clock {
  height: 4vh;
  margin-left: 10px;
  margin-right: 10px;
}
tag a {
  text-decoration: none;
  color: black;
}
.link {
  width: 20vw;
  align-self: center;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.duedate {
  justify-content: center;
}
label {
  margin: 10px;
  color: black;
  text-decoration: underline;
}
p {
  margin: 10px;
}